.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  gap: 20px;
  background-size: cover;
  background-position: center;
}

.img1 {
  background-image: url("/image/img1.jpg");

}

.img2 {
  background-image: url("/image/img2.jpg");

}

.img3 {
  background-image: url("/image/img3.jpg");

}

.img4 {
  background-image: url("/image/img4.jpg");

}